<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="splunk" type="Haukcode.SplunkTraceListener.SplunkTraceListener, SplunkTraceListener" hostName="api.XXXXXXXXXXXXXX.data.splunkstorm.com" projectId="XXXXXXXXXXXXXXXXX" accessToken="XXXXXXXXXXXXXXXXXXX" source="ConsoleExample" tz="America/Los_Angeles"/>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
